extends layout

block content
   fieldset
    legend About Us

    h2.text-green
     .text-center Welcome To Blogify&reg;
    h3 Our Vision
    p To provide latest information to our users keeping them up to date with news within and around them.
    p To be counted among top information resources around the globe.
    h3 Our Mission
    p Ensuring our users get instant news as soon as they break and update them on regular happening around them.
    fieldset
     legend
      h1.text-center
       .text-blue Our Staff
    .row
     .row
        .col-md-2
            img(src='/images/avatar3.png' class="img-responsive")

        .col-md-4
         h4 Name: Pauline Hendick
         h4 Position: Customer Care
         h4 Email: paulinehd@cranium.org
         h4 Phone: +1 456 789 4566
         p
          i Note: Fun and jovial, feel free to contact me incase of anything

        .col-md-2
            img(src='/images/avatar5.png' class="img-responsive")
        .col-md-4
         h4 Name: Jimmy Santos
         h4 Position: H.O.T [Head of Technical Operations]
         h4 Email: jimmysantos@cranium.org
         h4 Phone: +1 456 345 0066
         p
          i Note: feel free to contact me for any technical support
     hr
     .row
        .col-md-2
            img(src='/images/avatar2.png' class="img-responsive")
        .col-md-4
         h4 Name: Jimmy Santos
         h4 Position: H.O.T [Head of Technical Operations]
         h4 Email: jimmysantos@cranium.org
         h4 Phone: +1 456 345 0066
         p
          i Note: feel free to contact me for any technical support

        .col-md-2
            img(src='/images/avatar.png' class="img-responsive")
        .col-md-4
         h4 Name: Pauline Hendick
         h4 Position: Customer Care
         h4 Email: paulinehd@cranium.org
         h4 Phone: +1 456 789 4566
         p
          i Note: Fun and jovial, feel free to contact me incase of anything
        br
        hr
    
   