.wrapper
 header.main-header
  nav.navbar.navbar-static-top.navbar-default
   
    div.navbar-header
     a.navbar-brand Cranium
     button.navbar-toggle.collapse(type="button" data-toggle="collapse" data-target = "#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation")
      i.sr-only Toggle Navigation
      i.fa.fa-bars
    
    div#navbar-collapse.collapse.navbar-collapse
     ul.nav.navbar-nav
      li
       a Home
      li
       a About
      li
       a Contact Us