header.main-header
  nav.navbar.navbar-static-top
   
    div.navbar-header
     a.navbar-brand Cranium
     button.navbar-toggle(type="button"  style="height: auto" data-toggle="collapse" data-target = "#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation")
       i.fa.fa-bars 
    
    #navbar-collapse.collapse.navbar-collapse
     ul.nav.navbar-nav
      li
       a(href="/") Home
      li
       a(href="/about") About
      li
       a(href="/contactus") Contact Us