extends layout

block content
 .col-md-8
   #blog-content
 .col-md-4
      .container-fluid
        .panel
         .box.box-success
          .box-body.chat#chat-box
           .h3 Our Stories for today
           .item
            .p
             img(src='/images/avatar2.png' class='offline')
             small.text-muted
             p.text-blue Benaiah Yusuf
              small.text-muted.pull-right
               i.fa.fa-clock-o 2 mar,'18
            .p Frnds join me and celebrate this friend of me, my paddy,he can joke for Africa at the same time he can job eh,
            .p Dear wish u many more years to celebrate, more money in ur acct so that u will b buying zobo for me in sch lol.....
            .p Happy birthday!